{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block 'title' %}Login{% endblock %}

{% block 'body' %}
<main class="w-100 d-flex justify-content-center">
    <section id="login" class="d-flex flex-column align-items-center">
        <img id="login_bg" src="{% static 'general/img/login_bg_01.png' %}"
            data-src="{% static 'general/img/login_bg_01.png' %};{% static 'general/img/login_bg_02.png' %}">
        <img id="game_logo" src="{% static 'general/img/Faith_Batlle.png' %}" alt="Faith Battle logo">
        <!-- Login -->
        <form id="form_login" class="" action="{% url 'login' %}" method="post"> {% csrf_token %}
            <div id="container" class="col-12 d-flex flex-column border border-black rounded-2">
                <label>
                    <div>Usuário:</div>
                    <input type="text" placeholder="nome de usuário" name="username" required>
                </label>
                <label>
                    <div>Senha:</div>
                    <input type="password" placeholder="senha" name="password" required>
                </label>
            </div>
            <div class="d-flex justify-content-around pt-3">
                <button type="submit" class="col-4 btn btn-primary border-white rounded-3">Logar</button>
                <button type="button" class="col-6 btn btn-success border-white rounded-3"
                    onclick="showCreateForm()">Criar Conta</button>
            </div>
        </form>
        <!-- Create User -->
        <form id="form_create_user" class="" action="{% url 'cadastro' %}" method="post"> {% csrf_token %}
            <div id="container" class="col-12 d-flex flex-column border border-black rounded-2">
                <label>
                    <div>Usuário:</div>
                    <input type="text" placeholder="nome de usuário" name="username" required>
                </label>
                <label>
                    <div>Senha:</div>
                    <input type="password" placeholder="senha" name="password" required>
                </label>
                <label>
                    <div>Nome Completo:</div>
                    <input type="text" placeholder="Seu nome" name="first_name" required>
                </label>
                <label id="avatar_hidden" class="d-flex justify-content-between align-items-center mt-2">
                    <input type="hidden" name="avatar" value="Abraão.png">
                    <span>Avatar:</span>
                    <img class="avatar_image_mini" src="{% static '/general/img/Avatar/Abraão.png' %}"
                        onclick="showAvatarForm()">
                </label>
            </div>
            <div class="d-flex justify-content-around pt-3">
                <button type="submit" class="col-4 btn btn-success border-white rounded-3">Criar</button>
                <button type="button" class="col-6 btn btn-danger border-white rounded-3"
                    onclick="showLoginForm()">Cancelar</button>
            </div>
        </form>
        <!-- Avatar Selector -->
        <div id="avatar_container" class="col-6 border border-black rounded-2 ">
            <div class="w-100 d-flex flex-column gap-1">
                {% for avatar in all_avatar %}
                <div data-avatar_name="{{avatar}}" data-src="/static/general/img/Avatar/{{avatar}}"
                    class="avatar_selector d-flex flex-row justify-content-between align-items-center bg-dark border border-1 border-black rounded-1 p-1">
                    <span>{{avatar}}</span>
                    <img class="avatar_image_micro" src="/static/general/img/Avatar/{{avatar}}">
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>
<script src="{% static 'users/js/login.js' %}"></script>
{% endblock %}