#novidades #destaques img {
    height: 250px;
}

#novidades #ultimos_artigos>div {
    /* background-color: #0000006e; */
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    /* background-blend-mode: soft-light; */
}

aside {
    position: absolute;
    right: 0;
    width: 235px;
}

aside>div {
    height: 70vh;
    overflow-y: scroll;
}

aside input {
    padding-left: 8px;
}

aside input::placeholder {
    padding-left: 8px;
}

aside div.card {
    cursor: pointer;
    overflow: hidden;
    height: 80px;
}