#novidades #destaques img {
    height: 250px;
}

#novidades #ultimos_artigos > div {
    background-color: #0000006e;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light ;
}

#novidades #ultimos_artigos #artigo_container {
    cursor: pointer;
    position: relative;
    height: 180px;
    width: 250px;
    border: 1px solid black;
    border-radius: 8px;
}

#novidades #ultimos_artigos #artigo_container img {
    width: 100%;
    height: 100%;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000a9;
    z-index: 10;
}
.overlay:hover {
    background-color: #000000d3;
}
.overlay h5,p {
    color: white;
    text-align: justify;
}
.overlay .tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#novidades #ultimos_artigos #artigo_container p {
    height: 6em;
    overflow: hidden;
}

aside>div {
    height: 70vh;
    overflow-y: scroll;
}

aside input {
    padding-left: 8px;
}

aside input::placeholder {
    padding-left: 8px;
}

aside div.card {
    cursor: pointer;
    overflow: hidden;
    height: 80px;
}