{% extends 'base.html' %}

{% load static %}

{% block 'title' %}
Editar - {{game.title}}
{% endblock %}

{% block 'head'%}
<link rel="stylesheet" href="{% static '/games/css/editar_jogo.css' %}">
{% endblock %}

{% block 'body' %}
<main class="row d-flex justify-content-center">
    <section id="dados_jogo" class="col-12 col-md-9 border-bottom pb-3 mb-3 border-secondary">
        <span class="d-flex align-items-baseline justify-content-between">
            <h3>{{game.title}}</h3>
            <p>adicionado por <a href="https://marcosvianadev.com.br/" target="_blank">{{game.created_by}}</a> </p>
        </span>
        <div class="row">
            <img src="{{game.image.url}}" class="col-6">
            <p class="col-6">{{ game.description}}</p>
        </div>
    </section>
    <section id="playmats" class="col-12 col-md-6">
        <span class="d-flex align-items-baseline justify-content-between mb-2">
            <h3>Playmats</h3>
            <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#addPlaytmatModal">adicionar
                Playmat</button>
        </span>

        {% if gameboards %}
        <!-- Carousel -->
        <div id="carouselPalymat" class="carousel slide">
            <div class="carousel-inner">
                {% for playmat in gameboards %}
                <div class="carousel-item">
                    <div class="playmat_image d-flex flex-column w-100 align-items-center" data-bs-toggle="modal"
                        data-bs-target="#showPlaytmatModal">
                        <img class="playmat_image" src="{{ playmat.image.url}}" alt="" srcset="">
                        <p class="text-center text-bg-light w-100">{{ playmat }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPalymat" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPalymat" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {% endif %}

    </section>
    <section id="baralhos" class="col-12 col-md-6">
        <span class="d-flex align-items-baseline justify-content-between mb-2">
            <h3>Baralhos</h3>
            <button class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addDeckModal">
                adicionar tipo de baralho
            </button>
        </span>

        <!-- Accordion -->
        {% if cardfamily %}
        <div class="accordion" id="accordionDecks">
            {% for deck in cardfamily %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{deck}}" aria-expanded="true" aria-controls="collapse{{deck}}"
                        data-deck-name="{{deck}}" onclick="setDeck(this)"
                        data-deck-url="{% url 'editar_cartas' deck.id %}" data-deck-img="{{deck.card_back_image.url}}">
                        {{deck}}
                    </button>
                </h2>
                <div id="collapse{{deck}}" class="accordion-collapse collapse" data-bs-parent="#accordionDecks">
                    <div class="accordion-body row">
                        <img class="col-3" src="{{deck.card_back_image.url}}">
                        <strong class="col-9">{{deck.short_description}}</strong>
                        <div class="d-flex flex-row column-gap-2">
                            <a class="btn btn-sm btn-primary col-6 mt-2" target="verCartas" data-bs-toggle="modal"
                                data-bs-target="#showCardFamilyModal">Editar
                                cartas</a>
                            <button type="button" class="btn btn-sm btn-primary col-6 mt-2" data-bs-toggle="modal"
                                data-bs-target="#positionCardModal">
                                Posicionar no Tabuleiro
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </section>
    <!-- <div >
        <iframe id="verCartas" name="verCartas" src="#" frameborder="0" sandbox="allow-same-origin;allow-forms"></iframe>
    </div> -->
</main>
<!-- Modal showCardFamilyModal -->
<div class="modal fade" id="showCardFamilyModal" tabindex="-1" aria-labelledby="showCardFamilyModalLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="showCardFamilyModalLabel">asdasd</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="height: 500px;">
                    <iframe id="verCartas" name="verCartas" src="#" frameborder="0" height="100%" width="100%"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal showPlaytmatModal -->
<div class="modal fade" id="showPlaytmatModal" tabindex="-1" aria-labelledby="showPlaytmatModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="showPlaytmatModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <img id="showPlaytmatModalImage" class="w-100" src="#">
                    <p class="text-center text-bg-light"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal addPlaytmatModal -->
<div class="modal fade" id="addPlaytmatModal" tabindex="-1" aria-labelledby="addPlaytmatModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addPlaytmatModalLabel">Novo Playmat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <span class="px-2 text-center">As imagens do playmat devem ter a mesma disposição das pilhas de cartas para
                compra. Mudando apenas o fundo e elementos que não estão ligados ao posicionamento fixo das pilhas de
                cartas.</span>
            <div class="modal-body">
                <form class="form" action="{% url 'novo_playmat' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input type="hidden" name="game" value="{{game.id}}">
                    <label class="d-flex flex-column">
                        Nome do Playmat:
                        <input class="form-control border border-1 border-primary" type="text" name="name"
                            id="playmat_name" maxlength="25" required>
                    </label>
                    <label class="d-flex flex-column">
                        Playmat:
                        <input class="imageUploadResizer form-control border border-1 border-primary" type="file"
                            accept="image/*" name="image" id="playmat_image" required>
                    </label>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Adicionar Playmat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal addDeckModal -->
<div class="modal fade" id="addDeckModal" tabindex="-1" aria-labelledby="addDeckModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addDeckModalLabel">Novo Tipo de Baralho</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form" action="{% url 'novo_deck' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input type="hidden" name="game" value="{{game.id}}">
                    <label class="d-flex flex-column">
                        Nome do Baralho:
                        <input class="form-control border border-1 border-primary" type="text" name="title"
                            id="deck_name" maxlength="25" required>
                    </label>
                    <label class="d-flex flex-column">
                        Imagem do verso:
                        <input class="imageUploadResizer form-control border border-1 border-primary" type="file"
                            accept="image/*" name="card_back_image" id="deck_image" required>
                    </label>
                    <label class="d-flex flex-column">
                        Breve descrição:
                        <textarea name="short_description" id="short_description"
                            class="form-control border border-1 border-primary" required></textarea>
                    </label>
                    <div class="mt-3 text-center">Adicione descrição curta (30 caracteres) para cada valor dos cantos da
                        carta, deixe vazio caso não use. Estes valores estarão descritos na página do jogo.</div>
                    <div id="fake_card_container" class="position-relative  border border-1 border-primary rounded-1">
                        <img id="fake_card" src="{% static '/games/img/generic_card_verso.jpg' %}"
                            alt="Verso de uma carta">
                        <input class="form-control border border-1 border-primary rounded-1" id="top_left_txt"
                            type="text" name="top_left_txt" placeholder="Custo de Invocação">
                        <input class="form-control border border-1 border-primary rounded-1" id="top_right_txt"
                            type="text" name="top_right_txt" placeholder="Pontos de Vida">
                        <input class="form-control border border-1 border-primary rounded-1" id="bottom_left_txt"
                            type="text" name="bottom_left_txt" placeholder="Pontos de Defesa">
                        <input class="form-control border border-1 border-primary rounded-1" id="bottom_right_txt"
                            type="text" name="bottom_right_txt" placeholder="Pontos de Ataque">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Adicionar Tipo Baralho</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal positionCardModal -->
<div class="modal fade" id="positionCardModal" tabindex="-1" aria-labelledby="positionCardModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="positionCardModalLabel">Posicione a Pilha no Tabuleiro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>Posicione a pilha <strong></strong> no tabuleiro.</span>
                <div id="fake_tabuleiro_container" class="position-relative border border-1 border-primary rounded-1">
                    <img id="fake_tabuleiro" src="" alt="">
                    <div id="mydiv">
                        <img id="mydivheader" src="{% static '/games/img/generic_card_verso.jpg' %}"
                            alt="Verso de uma carta">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="salvarPosicao()">Salvar Posição</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/games/js/editar_jogo.js' %}"></script>
{% endblock %}