{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'player_site/css/player_site.css' %}">
{% endblock %}

{% block 'title' %}
Faith Battle - Fã Page
{% endblock %}


{% block 'body'%}
<main>
    <h1>Faith Battle - Fã Page</h1>
    <section id="sobre_o_jogo">
        <h2 class="text-center">Sobre o Jogo</h2>
        <h5 class="text-center mb-3">O Faith Battle é um jogo de cartas com temática bíblica.</h5>
        <img src="https://static.wixstatic.com/media/311bd2_0b0db650cd364987b5cba0fa22628858~mv2.jpg/v1/fill/w_783,h_486,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/311bd2_0b0db650cd364987b5cba0fa22628858~mv2.jpg"
            alt="Dois tabuleiros do jogo com diversas cartas jogadas, uma partida em andamento." class="float-sm-start">
        <p>
            Jogue com Heróis Lendários como o poderoso Sansão! Vença os Gigantes com o Rei Davi! Equipe seus Heróis com
            artefatos majestosos como a Espada do Espírito ou o Bastão de Moisés! Embarque em uma aventura épica
            travando
            batalhas emocionantes! Utilize bem os seus milagres e tenha melhor estratégia para vencer seus adversários
            com o
            Poder da Fé!
        </p>

        <p>
            E como consequência de tanta diversão, você se tornará um expert sobre o livro mais conhecido de toda
            história
            da humanidade! A Bíblia Sagrada!
        </p>

        <p>
            O Faith Battle é um jogo de cartas colecionável e estratégico composto por ilustrações originais de
            histórias
            bíblicas, que tem como objetivo principal, despertar o interesse do jogador a conhecer as histórias do Livro
            Sagrado.
        </p>

        <p>
            Além da diversão e do aprendizado, o jogo ajuda a melhorar as habilidades sociais e mentais dos jogadores,
            contento uma grande quantidade de estratégias e um vocabulário extenso, dos quais, os jogadores não são
            expostos
            sobre uma base regular diariamente, e que os impulsiona a desenvolver um raciocínio lógico e preciso.
        </p>
        <p>

            As cartas que compõe o baralho básico estão divididas em 5 categorias, Heróis, Artefatos, Milagres, Pecados
            e
            Sabedoria. Cada categoria tem seus efeitos próprios e jogabilidade diferenciada, que juntas complementam a
            estratégia da jogada.
        </p>

        <p> Monte seu baralho, use a melhor estratégia e preparece para diversão!</p>
        <h2 class="text-center">Faith Battle Company</h2>
        <h5 class="text-center mb-3">
            Lucas Duarte e Beatriz dos Santos, missionarios a mais de 10 anos trabalhando com jovens
            e adolescentes pelo mundo.
        </h5>
        <img src="https://static.wixstatic.com/media/311bd2_3395a40269ea49329486317dfd6116f1~mv2.jpg/v1/fill/w_341,h_750,al_c,q_80,enc_auto/311bd2_3395a40269ea49329486317dfd6116f1~mv2.jpg"
            alt="Lucas Duarte e Beatriz dos Santos" class="float-sm-start me-sm-4 mb-3 mb-sm-0">

        <p>
            Somos um casal missionario que atualmente trabalha com jovens e adolescentes no Uruguai. Semanalmente
            trabalhamos com centenas de adolescentes em varios projetos sociais com esportes, recreação, organização
            de
            acampamentos, teatro, musica e artes em geral. Através desses projetos temos a intenção de levar
            principios
            e valores importantes a essa geração. Desde criança somos amantes de todo tipo de jogos, inclusive jogos
            de
            cartas, e sabemos que essa é uma excelente ferramenta que além de diversão, pode trazer varios
            ensinamentos.
        </p>

        <p> Somos uma empresa 100% Nacional interessada em compartilhar conhecimento de uma forma entretenida.</p>

        <p>
            Faith Battle TCG ( Trading Card Game ) é o nosso primeiro projeto no mercado, trata-se de um jogo de
            cartas
            físicas colecionáveis, expansivo e personalizado, baseado em histórias bíblicas.

        </p>
        <p>
            Criado e desenvolvido por amigos e entusiastas de card games, com apoio de teólogos, professores,
            missionários e estudantes das Sagradas Escrituras.
        </p>

        <p>
            A ideia do jogo surgiu em um tcc do curso de Teologia na Universidade Filadélfia de Londrina-Pr, sobre a
            importância de jogos e brincadeiras lúdicas no ensino bíblico para Jovens e adolescentes.
        </p>

        <p>
            Consciente da escassez de produtos de qualidade nesse nicho de Jogos Bíblicos, e percebendo a falta de
            interesse geracional na leitura das Sagradas Escrituras, fomos motivados a desenvolver esse jogo
            estratégico
            para impulsionar pessoas a conectar-se com a Bíblia, sendo abençoados com seus ensinamentos de
            princípios e
            valores tão importantes para nosso dia a dia.
        </p>

        <p>
            O jogo foi testado por pessoas de distintas idades e culturas, desde crianças de 10 anos até veteranos
            de 70
            anos, sendo muito bem avaliados, seguido de críticas construtivas que nos levaram a evoluir muito desde
            sua
            apresentação inicial, em 2017.
        </p>

        <p>
            Buscando relacionar-se pessoalmente com a comunidade, atentos aos feedbacks e propostas de criação,
            seguimos
            trabalhando duro para entregarte um jogo excelente, com narrativas fiéis ao texto bíblico, ilustrações
            originais e uma jogabilidade fluída. Para que você tenha acesso a um produto de qualidade e
            personalizado!
        </p>
        <p>Visite o <a href="https://www.faithbattle.com.br/" target="_blank">site oficial</a> para saber mais sobre
            o jogo, cartas, regras, lançamentos, grupos, etc.</p>
        <p>© 2023 Faith Battle Company . Cnpj: 49.249.207/0001-93 Todos os Direitos Reservados. Deus seja louvado!
        </p>
    </section>
    <section>
        <h2 class="text-center">Sobre o desenvolvedor deste projeto</h2>
        <h5 class="text-center mb-3">Aspirante a desenvolvedor de sistemas, busca neste projeto externar seu pontencial.</h5>
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <a href="https://github.com/Marcosviana91/" target="_blank">
                    <img  id="profile_img_link" src="{% static '/general/img/GitHub_profile.png' %}" alt="Github" title="Github" class="w-100">
                    <i class='bx bxl-github'></i>
                    Github
                </a>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <a href="https://www.linkedin.com/in/marcos-viana-full-stack-python/" target="_blank">
                    <img  id="profile_img_link" src="{% static '/general/img/LinkedIn_profile.png' %}" alt="LinkedIn" title="LinkedIn"class="w-100">
                    <i class='bx bxl-linkedin' ></i>
                    LinkedIn
                </a>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <a href="https://marcosvianadev.com.br/" target="_blank">
                    <img  id="profile_img_link" src="{% static '/general/img/site.png' %}" alt="Meu Site" title="Meu Site"class="w-100">
                    <i class='bx bx-world'></i>
                    Meu Site
                </a>
            </div>
        </div>

    </section>
    <section id="sobre_o_projeto">
        <h2 class="text-center">Sobre o Projeto</h2>
        <p>
            Este site faz parte de um projeto individual e não tem vínculo com o jogo oficial ou seus criadores. O
            objetivo deste site é divulgar o andamento do desenvolvimento do jogo digital <strong>não
                oficial</strong>. Gosto de dizer que ainda está em alpha e será constantemente desenvolvido.
        </p>
        <p>A meta é fomentar a comunidade do jogo físico.</p>
        <p>Este projeto consiste em 4 partes:</p>
        <ul>
            <li>Front-End: aplicativo móvel para Android.</li>
            <li>Back-End: servidor do jogo.</li>
            <li>Back-End: servidor de autenticação e site.</li>
            <li>Back-End: Bancos de dados (Postgre e Mongo).</li>
        </ul>
        <p>Back-End's dockerizados individualmente.</p>
        <div>
            <h3>Front-End: Aplicativo móvel</h3>
            <p>Um aplicativo simples desenvolvido em React Native, porém suficiente para jogar. O design, animações,
                tutorial, UI/UX foram deixados para um outro momento. Mesmo assim vem sofrendo mudanças conforme o
                desenvolvimento avança.</p>
            <h3>Back-End: Servidor do Jogo</h3>
            <p>API em Python utilizando FastAPI, responsável por tratar as regras do jogo, como comparação de ataque
                e defesa entre heróis durante um combate, adição de efeitos de um milagre ou pecados e itens. Também
                é responsável pelo gerenciamento de salas, jogadores conectados e confirmação de tokens de
                authenticação.</p>
            <h3>Back-End: Servidor de autenticação e site.</h3>
            <p>Plataforma web desenvolvida em Django (Python), responsável por tratar authenticação de jogadores
                através da consulta em banco de dados. Ela se comunica com a API citada acima.</p>
            <p>Através desta, será possível o jogador editar seus decks, analizar suas partidas e assistir outras
                partidas.</p>
            <h3>Back-End: Bancos de dados (Postgre e Mongo).</h3>
            <p>Um simples docker rodando uma imagem do PostgreSQL e outro do Mongo db. Por falta de compatibilidade
                com o hardware do servidor, o Mongo foi substituído pelo <a href="https://tinydb.readthedocs.io/"
                    target="_blank">TinyDB</a>, um banco de dados minimalista, assim como o sqlite, porém em pythyon
                e orientado a documentos.</p>
            <p>
                Os bancos armazenam dados do usuário e estatísticas do jogador, como XP, deck build,
                <em>conquistas, artes desbloqueadas, etc</em>
            </p>
        </div>
    </section>
</main>
{% endblock %}