{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial | Faith Battle</title>
</head>

<body>
    <header>
        <h1>Tutorial</h1>
    </header>
    <main>
        <section>
            <h2>alpha-1.0.1</h2>
            <p>Nesta versão todos as cartas de heróis estão funcionando como o esperado:
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfoeac"
                    target="_blank">Abraão</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfrwh5"
                    target="_blank">Adão</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfv7vm"
                    target="_blank">Daniel</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lp0e79kf"
                    target="_blank">Davi</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfilfy"
                    target="_blank">Elias</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfxqs8"
                    target="_blank">Ester</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokflpie" target="_blank">Eva</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfqvau"
                    target="_blank">Jacó</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokft4hn" target="_blank">José do
                    Egito</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfnhdd"
                    target="_blank">Josué</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-luq2j6e6" target="_blank">
                    Maria</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lok6s1tl"
                    target="_blank">Moisés</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfwcvn" target="_blank">Noé</a>,
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfkwya"
                    target="_blank">Salomão</a> e
                <a href="https://www.faithbattle.com.br/her%C3%B3is?lightbox=dataItem-lokfplwo"
                    target="_blank">Sansão</a>.
            </p>
            <p>As cartas de milagres estão funcionando parcialmente:</p>
            <p>Funcionam:
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-artefatos?lightbox=dataItem-loosrs7j"
                    target="_blank">Dilúvio</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-artefatos?lightbox=dataItem-loosbvpu"
                    target="_blank">Fogo do Céu</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-artefatos?lightbox=dataItem-loosua9n"
                    target="_blank">No Céu tem Pão</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-artefatos?lightbox=dataItem-loosjbbx"
                    target="_blank">Restauração de Fé</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-artefatos?lightbox=dataItem-lp0e4tp1"
                    target="_blank">Sabedoria de Salomão</a> e
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-artefatos?lightbox=dataItem-loosqqyi"
                    target="_blank">Ardente</a>.
            </p>
            <p>Não funcionam:
                Cordeiro de Deus,
                Força de Sansão,
                Liberação Celestial,
                Passagem Segura,
                Proteção Divina e
                Ressurreição.
            </p>
            <p>As cartas de artefatos estão funcionando parcialmente:</p>
            <p>Funcionam:
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-loor1vjm"
                    target="_blank">Arca da Aliança</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-loor3ix8"
                    target="_blank">Botas do Evangélho</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-looqzyis"
                    target="_blank">Cajado de Moisés</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-loor598j"
                    target="_blank">Capacete da Salvação</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-luq2mbyx"
                    target="_blank">Couraça da Justiça</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-looqykdj"
                    target="_blank">Escudo da Fé</a>,
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-looqx8ym"
                    target="_blank">Espada do Espírito</a> e
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-loor6hsp"
                    target="_blank">Os 10 Mandamentos</a>.
            </p>
            <p>Não funcionam:
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-looqutkv"
                    target="_blank">Arca de Noé</a> e
                <a href="https://www.faithbattle.com.br/c%C3%B3pia-her%C3%B3is?lightbox=dataItem-loor8m7y"
                    target="_blank">Cinturão da Verdade</a>.
            </p>
            <p>Nesta versão nenhum pecado funciona.</p>
            <p>Responder um ataque com um milagre ou um pecado: Não funciona.</p>
            <p>Status de carta ou do jogador, como <em>não pode ser bloquado, não pode ser alvo de ataques, etc</em>: Não funcionam.</p>
        </section>
        <section>
            
            <img src="{% static '/images/Fire_HD8.png' %}" alt="Jogo">

        </section>
    </main>
    <footer>
    </footer>
</body>