{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="imagem/png" href="{% static 'icon.png' %}" />

    <link rel="stylesheet" href="{% static 'general/css/base.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{% static 'libs/bootstrap/css_bootstrap.min.v5.3.0.css' %}"> -->
    <script src="{% static 'libs/jquery/jquery-3.7.1.min.js' %}"></script>

    {% block 'head' %}{% endblock %}

    <title>{% block 'title' %}{% endblock %}</title>
</head>

<body class="container bg-primary bg-opacity-50">
    <header class="d-flex justify-content-end justify-content-sm-start">
        <!-- Mobile -->
        <button id="btn_menu" class="btn btn-dark d-sm-none">
            <i class='bx bx-menu'></i>
        </button>
        <nav id="nav_mobile" class="nav bg-black bg-opacity-50 z-3 w-75">
            <ul class="nav nav-pills d-flex flex-column w-100 gap-2 p-2">
                <li class="nav-item w-100">
                    <button class="nav-link rounded-1 bg-dark {{player_site}} w-100 btn_link"
                        data-link="{% url 'player_site' %}">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Página inicial</span>
                    </button>
                </li>
                <li class="nav-item w-100">
                    <button class="nav-link rounded-1 bg-dark {{jogos}} w-100 btn_link"
                        data-link="{% url 'player_site' %}">
                        <i class='bx bx-joystick-alt'></i>
                        <span>Jogos</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link rounded-1 bg-dark {{novidades}} w-100 btn_link"
                        data-link="{% url 'novidades' %}">
                        <i class='bx bx-news'></i>
                        <span>Novidades</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link rounded-1 bg-dark {{perfil}} w-100 btn_link" data-link="{% url 'perfil' %}">
                        <i class='bx bx-user'></i>
                        <span>Perfil</span>
                    </button>
                </li>
            </ul>
        </nav>
        <!-- Others screens -->
        <nav class="nav justify-content-start d-none d-sm-block">
            <ul class="nav nav-pills d-flex flex-column flex-sm-row m-2 gap-sm-2">
                <li class="nav-item">
                    <button class="nav-link rounded-1 bg-dark {{player_site}} btn_link"
                        data-link="{% url 'player_site' %}">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Página inicial</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link rounded-1 bg-dark {{jogos}} btn_link"
                        data-link="{% url 'player_site' %}">
                        <i class='bx bx-joystick-alt'></i>
                        <span>Jogos</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link rounded-1 bg-dark {{novidades}} btn_link" data-link="{% url 'novidades' %}">
                        <i class='bx bx-news'></i>
                        <span>Novidades</span>
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link rounded-1 bg-dark {{perfil}} btn_link" data-link="{% url 'perfil' %}">
                        <i class='bx bx-user'></i>
                        <span>Perfil</span>
                    </button>
                </li>
            </ul>
        </nav>
    </header>

    {% block 'body' %}
    {% endblock %}
    <!-- Staff Menu -->
    {% if logged_user.is_staff %}
    <nav id="staff_menu" class="bg-dark bg-opacity-75 p-2 ">
        <span id="btn_staff_menu" class="btn btn-dark">
            <i class='bx bxs-arrow-from-left'></i>
        </span>
        <div class="d-flex flex-column gap-1">
            <div id="staff_menu_item" class="w-100 rounded-2 bg-dark text-light p-2 btn_link"
                data-link="{% url 'meus_artigos' %}">
                <i class='bx bx-news'></i>
                <span>Meus Artigos</span>
            </div>
            <div id="staff_menu_item" class="w-100 rounded-2 bg-dark text-light p-2 btn_link"
                data-link="{% url 'minhas_imagens' %}">
                <i class='bx bx-images'></i>
                <span>Minhas Imagens</span>
            </div>
            <div id="staff_menu_item" class="w-100 rounded-2 bg-dark text-light p-2 btn_link"
                data-link="{% url 'meus_jogos' %}">
                <i class='bx bx-joystick'></i>
                <span>Meus Jogos</span>
            </div>
        </div>
    </nav>
    {% endif %}
    <div id="footer_placeholder">
    </div>
    <!-- TODO: adicionar toast de confirmação ou erro -->
    <!-- Button to move to up -->
    <div id="btn_go_up">
        <i class='bx bxs-chevron-up-circle'></i>
    </div>

    <footer class="bg-black bg-opacity-75">
        <p class="text-center text-light">
            <a href="https://marcosvianadev.com.br/" target="_blank">
                Marcos Viana
            </a>
        </p>
    </footer>
    <!-- <script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{% static 'general/js/base.js' %}"></script>
</body>

</html>