{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<!-- Thanks https://summernote.org/ -->
<link rel="stylesheet" href="{% static '/libs/summernote-0.9.0/summernote-bs5.css' %}">
<script src="{% static '/libs/summernote-0.9.0/summernote-bs5.js' %}"></script>

<link rel="stylesheet" href="{% static '/novidades/css/novo_artigo.css' %}">
<link rel="stylesheet" href="{% static '/novidades/css/cards_styles.css' %}">
{% endblock %}

{% block 'title' %}
Novo Artigo
{% endblock%}

{% block 'body' %}
<main id="novo_artigo" class="d-flex flex-row">
    <section id="formulario_container" class="container d-flex justify-content-center">
        <form class="d-flex flex-wrap" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="col-12 col-sm-8">
                <label class="w-100">
                    <div class="form-text">Título:</div>
                    <input class="form-control" type="text" name="titulo" id="titulo"
                        placeholder="ex: Título do artigo - Nome do Jogo" required>
                </label>
            </div>
            <div class="col-4 col-sm-4 pe-2 pe-sm-0 ps-sm-2">
                <label class="w-100">
                    <div class="form-text">Tag:</div>
                    <input class="form-control" type="text" name="tag_version" id="tag_version"
                        placeholder="ex: nome-do-jogo_1.2.3" required>
                </label>
            </div>
            <div class="col-8 col-sm-12">
                <label class="w-100">
                    <div class="form-text">Capa:</div>
                    <input class="form-control" type="file" name="img_capa" id="img_capa" required>
                </label>
            </div>
            <div class="col-12">
                <label>
                    <div class="form-text">Conteúdo:</div>
                    <textarea name="conteudo" id="summernote" required></textarea>
                </label>
            </div>
            <div class="d-flex justify-content-around w-100 py-3 mb-5">
                <button id="btn_salvar" class="btn btn-sm btn-info col-5 border border-1 border-black" type="button"
                    data-bs-toggle="modal" data-bs-target="#previewModal">Pré-visualizar
                    card</button>
                <button class="btn btn-primary col-5" type="submit">Enviar</button>
            </div>
        </form>
    </section>
</main>
<div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="previewModalLabel">Pré-visualização</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center align-items-center flex-column row-gap-2">
                <!-- CARD ARTIGO -->
                <div id="artigo_container" class="row">
                    <div id="img_place_holder" class="col-6 border border-1 border-white">
                        <h4 id="preview_titulo" class="text-center">
                            Insira um Título
                        </h4>
                        <img id="img_preview" src="{% static '/general/img/Avatar/_Faith Battle.png' %}" alt="" title=""
                            class="">
                    </div>
                    <div id="txt_place_holder" class="col-6 pt-1">
                        <p class="preview_conteudo"></p>
                    </div>
                    <div class="tags w-100">
                        <div id="preview_tag" class="col-6 border border-1 border-black rounded rounded-3 text-center">
                            TAG DO ARTIGO</div>
                        <div
                            class="preview_data_publicacao col-6 border border-1 border-black rounded rounded-3 text-center">
                            DATA DE PUBLICACÃO</div>
                    </div>
                </div>
                <!-- Mini CARD -->
                <div id="artigo_container_mini">
                    <h5 id="preview_titulo" class="text-center">
                        Insira um Título
                    </h5>
                    <div id="txt_place_holder" class="px-1">
                        <p class="preview_conteudo"></p>

                    </div>
                    <div class="tags w-100">
                        <div id="preview_tag" class="col-6 border border-1 border-black rounded rounded-2 text-center">
                            TAG DO ARTIGO
                        </div>
                        <div
                        class="preview_data_publicacao ol-6 border border-1 border-black rounded rounded-2 text-center">
                            DATA DE PUBLICACÃO
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    // summernote
    $(document).ready(function () {
        $('#summernote').summernote({
            lang: 'pt-BR',
            height: 350,
        });
    });
</script>
<script src="{% static 'novidades/js/novo_artigo.js' %}"></script>
{% endblock %}